.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}

.form {
width: 50%;
margin: 0 auto;
}

.input {
  padding: 20px;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid rgb(235, 235, 235);
  text-align: center;
  transition: all .15s ease;
}

.input:focus {
  outline: none;
  border: 1px solid rgb(210, 161, 0);
}

.button {
  height: 50px;
  border: 1px solid rgb(235, 235, 235);
  width: 150px;
  border-radius: 20px;
  display: block;
  margin: 30px auto;
}

.button--submit {

}

.input--valid {
  border: 1px solid rgb(0, 255, 0) !important;
}

.input--touched.input--invalid {
  border: 1px solid red !important;
}