.App {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 20%;
  /* height: 300px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
* {
  box-sizing: border-box;
}

.form {
margin: 0 auto;
position: relative;
}

.input {
  padding: 20px;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid rgb(235, 235, 235);
  text-align: center;
  transition: all .15s ease;
  margin: 20px 0;
}

.label {
  color: #444;
}

.input:focus {
  outline: none;
  border: 1px solid rgb(210, 161, 0);
}
button {
  border: none;
  background: none;
  outline: none;
  font-size: .8em;
}

button:focus {
  outline: none;
}

.button {
  height: 50px;

  border: 1px solid rgb(235, 235, 235);
  width: 150px;
  border-radius: 20px;
  display: block;
  margin: 30px auto;
}

.button--submit {
  border: 2px solid rgb(65, 0, 218);
  color: rgb(65, 0, 218);
}
.label--message {
  position: absolute;
  width: 100%;
  top: -30px;
}

.input--valid {
  border: 1px solid rgb(0, 255, 0) !important;
}

.input--touched.input--invalid {
  border: 1px solid red !important;
}

@keyframes shake {
  25% {
    transform: translateX(20px);
    border: 1px solid red;
  } 75% {
    transform: translateX(-20px);
    border: 1px solid red;
  } 
}

.input--nope {
  animation: shake 500ms ease-in-out alternate ;
}

.output {
  flex-grow: 1;
  height: 200px;
  width: 100%;
}

.output__url {
  transition: all 250ms ease;
}

.output--copied .output__url {
  color: rgb(0, 255, 0);
}

@keyframes swoopIn {
  from {
    transform: translateY(-1000px)
  } to {
    transform: translateY(0)
  }
}

.output__url {
  position: relative;
  font-size: 2em;
  animation: swoopIn 1000ms ease;
}

.output__copy-btn {
  position: absolute;
  margin: 5px 0 0 20px;
}

.api-details {
  text-align: left;
}